*,
html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: 'Lato', sans-serif!important;
	font-size: 14px;
	box-sizing: border-box;
	background: #f8f8f8;
	color: #3d3d3d;
	overflow-x: hidden;
}

.header1 {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
	background-color: #771806;
	min-height: 65px;
}

.logo {
	width: 100%;
	max-width: 180px;
	height: auto;
}

.logo a {
	display: block;
	color: #59abff;
	font-size: 30px;
	line-height: 1;
}

span.mob-view-logo {
	display: none;
}

.menu {
	width: auto;
	position: relative;
	margin: 0 auto;
}

.close-menu {
	display: none;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	border-radius: 100%;
}

.menu ul {
	padding: 0px;
	margin: 0;
}

.menu ul li {
	display: inline-block;
	padding: 15px 23px;
	vertical-align: middle;
}

.menu ul li a {
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	line-height: 1;
	text-decoration: none;
}

.Logged .loginBox {
	max-width: 230px;
}

.menu ul li a:hover:after {
	width: 100%;
	background: #fff;
}

.menu ul li a:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0;
	background: 0 0;
	transition: width .15s ease, background-color .15s ease;
}

.mob-menu {
	display: none;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -20px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.mob-menu span.menu-bar {
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -1px;
	width: 25px;
	height: 2px;
	background: #FFF;
}

.mob-menu span.menu-bar:before {
	content: '';
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -8px;
	width: 30px;
	height: 2px;
	background: #FFF;
}

.mob-menu span.menu-bar:after {
	content: '';
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: 6px;
	width: 30px;
	height: 2px;
	background: #FFF;
}

.close-menu:before {
	content: '';
	position: absolute;
	width: 18px;
	height: 2px;
	left: 4px;
	top: 14px;
	margin-top: -1px;
	background: #fff;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}

.close-menu:after {
	content: '';
	position: absolute;
	width: 18px;
	height: 2px;
	left: 4px;
	top: 14px;
	margin-top: -1px;
	background: #fff;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}

footer {
	background: #711b02;
	padding: 3em 0;
	position: relative;
	font-size: 14px;
	color: #fff;
	border-top: 8px solid #921700;
	margin-top: 40px;
}

.quick_links ul li:not(:last-child) {
	padding-right: 8px;
	margin-right: 8px;
}

.quick_links ul li {
	display: inline-block;
	position: relative;
}

.quick_links ul li a {
	color: #fff;
}

.quick_links ul li:not(:last-child):after {
	content: "";
	position: absolute;
	width: 1px;
	height: 15px;
	right: -10px;
	top: 3px;
	background: #fff;
	margin-right: 10px;
}

.social-icons li {
	margin: 4px;
	display: inline-block;
}

.social-icons li a {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	padding: 8px;
	background: #fff;
}

.social-icons li a i {
	color: #711b02;
	font-size: 18px;
}

.fa-twitter:before {
	content: "\f099";
}

.fa-facebook-f:before {
	content: "\f39e";
}

.fa-pinterest-p:before {
	content: "\f231";
}

.fa-google-plus-g:before {
	content: "\f0d5";
}

.red {
	background-color: #7A1705;
	color: #fff
}

.criteria h3 {
	padding: 15px;
}

.checkcontainer {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 17px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #741c01;
	border-radius: 3px;
}

.checkbox .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.checkbox input:checked~.checkmark:after {
	display: block;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.btn-red {
	background-color: #741c01;
	color: #fff;
	border: 2px solid #921700;
	padding: 10px 37px;
	border-radius: 27px;
	font-size: 18px;
	max-width: 150px!important;
	width: 100%;
}

.btn-red:hover {
	background-color: #fff;
	color: #741c01;
	border: 2px solid #741c01;
}

nav>.nav.nav-tabs {
	border: none;
	color: #fff;
	background: #6e1f00;
	border-radius: 0;
}

nav>div a.nav-item.nav-link,
nav>div a.nav-item.nav-link.active {
	border: none;
	padding: 14px 49px;
	border-radius: 0;
	border-bottom: 1px solid #741c01;
	border-left: 1px solid #fff;
	font-size: 16px;
}

.tab-content {
	background: #fdfdfd;
	line-height: 25px;
	padding: 30px 25px;
}

.table-section thead th {
	vertical-align: top;
}

.table-section .thead-light th {
	background-color: #ffeaea
}

a.nav-tab.active {
	color: #741c01!important;
	background-color: #fff
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #741c01
}

nav>div a.nav-item.nav-link,
nav>div a.nav-item.nav-link {
	color: #fff;
}

.listing li {
	display: block;
	width: 100%;
}

.listing label {
	width: 50%
}

.listing {
	text-align: left;
}

.criteria h5 {
	padding: 15px;
}

.web-view-logo img {
	width: 100%;
	max-width: 70px;
}

.criteria {
	padding-top: 100px;
	/* padding-bottom: 50px;  */
	padding-bottom: 10px;
	/* min-height: calc(100vh - 142px); */
	/* min-height: calc(90vh - 142px); */
	min-height: calc(90vh - 320px);
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
	border-bottom: 1px solid #741c01;
}

.web-view-logo {
	display: block;
	margin-bottom: -20px;
}