{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="criteria pb0">
  <div class="container mb20 mt20">
    <div style="box-shadow:0px 0px 10px #ccc;padding:20px; max-width: 500px;    margin: 0 auto;">
      <div>
        <ul class="mb0 listing">
          <li><label>Course Name:</label><span>Graduate Level English</li>
          <li><label>Course Number:</label><span>L500</span></li>
        </ul>
        <ul class="mb0 listing">
          <li><label>Course Description:</label><span>WR & LIT IN AFRC AM&AFRC DIASP</a></li>
          <li><label>Term Offered:</label><span>4188 (Fall 2018)</span></li>
        </ul>
        <ul class="mb0 listing">
          <li><label>Campus of Instruction:</label><span>Indiana University Bloomington</span></li>
          <li><label>Number of Drops:</label><span>3</span></li>
          <li><label>Number of Withdrawals:</label><span>2</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div style="box-shadow: 0px 0px 10px #ccc">
          <div class="red">
            <h5 class="mb-0">Sections</h5>
          </div>
          <div class="table-responsive text-center">
            <table class="table table-hovertable-section">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Campus</th>
                  <th scope="col">Class Number</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <td>Jacob</td>
                  <td>Thornton</td>
                </tr>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="red">
          <h5 class="mb-0">Seats</h5>
        </div>
        <div style="box-shadow:0px 0px 10px #ccc;padding:20px; margin: 0 auto;    height: 247px;">
          <div>
            <ul class="mb0 listing">
              <li><label>Total Seats:</label><span>50</li>
              <li><label>Enrolled:</label><span>2</span></li>
            </ul>
            <ul class="mb0 listing">
              <li><label>Pending Enrollment:</label><span>43</a></li>
              <li><label>Calculated Remaining:</label><span>4188 (Fall 2018)</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb20 mt20">
        <div style="box-shadow:0px 0px 10px #ccc">
          <div class="table-responsive text-center">
            <table class="table table-hovertable-section">
              <thead class="thead-light">
                <tr style="border-top: 4px solid #711b02;">
                  <th scope="col">Student Name</th>
                  <th scope="col">Section</th>
                  <th scope="col">Course Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Giacomo Guilizzoni</td>
                  <td>000012</td>
                  <td>Enrolled</td>
                </tr>
                <tr>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>Otto</td>
                </tr>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>Otto</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}