{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="criteria pb0">
  <div class="container mb20 mt20">
    <div style="box-shadow:0px 0px 10px #ccc;padding:20px; max-width: 500px;    margin: 0 auto;">
      <div>
        <ul class="mb0 listing">
          <li><label>Course Name:</label><span>{{course.course_name}}</li>
          <li><label>Course Number:</label><span>{{course.course_number}}</span></li>
        </ul>
        <ul class="mb0 listing">
          <li><label>Course Description:</label><span>{{course.course_desc}}</a></li>
          <li><label>Term Offered:</label><span>{{course.term}}</span></li>
        </ul>
        <ul class="mb0 listing">
          <li><label>Campus of Instruction:</label><span>{{course.campus_instrucation}}</span></li>
          <li><label>Number of Drops:</label><span>{{course.no_of_drop}}</span></li>
          <li><label>Number of Withdrawals:</label><span>{{course.no_of_withdrawals}}</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div style="box-shadow: 0px 0px 10px #ccc">
          <div class="red">
            <h5 class="mb-0">Sections</h5>
          </div>
          <div class="table-responsive text-center">
            <table class="table table-hovertable-section">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Campus</th>
                  <th scope="col">Class Number</th>
                </tr>
              </thead>
              <tbody>
                {% for cor in courses %}
                <tr>
                  <td>{{cor.campus}}</td>
                  <td>{{cor.class_number}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="red">
          <h5 class="mb-0">Seats</h5>
        </div>
        <div style="box-shadow:0px 0px 10px #ccc;padding:20px; margin: 0 auto;    height: 247px;">
          <div>
            <ul class="mb0 listing">
              <li><label>Total Seats:</label><span>{{course.total_seats}}</li>
              <li><label>Enrolled:</label><span>{{course.enroll}}</span></li>
            </ul>
            <ul class="mb0 listing">
              <li><label>Pending Enrollment:</label><span>{{course.pending_enrollment}}</a></li>
              <li><label>Calculated Remaining:</label><span>{{course.remaining}}</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 mb20 mt20">
        <div style="box-shadow:0px 0px 10px #ccc">
          <div class="table-responsive text-center">
            <table class="table table-hovertable-section">
              <thead class="thead-light">
                <tr style="border-top: 4px solid #711b02;">
                  <th scope="col">Student Name</th>
                  <th scope="col">Section</th>
                  <th scope="col">Course Status</th>
                </tr>
              </thead>
              <tbody>
                {% for cor in courses %}
                <tr>
                  <td>{{cor.student_name}}</td>
                  <td>{{cor.section}}</td>
                  <td>{{cor.course_status}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a style="text-decoration:none; color:#fff;" href="javascript:history.go(-1)">
    <button style="padding-top:5px; font-size: 16px;margin-left:40px; color: #fff;" type="submit"  class="btn btn-primary btn-red">Back
    </button>
  </a>

  {% endblock %}