{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="criteria">
   <div class="container mb20 mt20">
      <div style="box-shadow:0px 0px 10px #ccc;padding:20px;max-width: 500px;margin:0 auto;">
         <div>
            <ul class="mb0 listing">
               <li><label>Student Name:</label><a href="{% url 'student_search:student-details' %}" class="ml5">JohnDoe</a></li>
               <li><label>UID:</label><span class="ml5">200410186</span></li>
            </ul>
            <ul class="mb0 listing">
               <li><label>Course Number:</label><a href="{% url 'student_search:course-details' %}" class="ml5">L500e</a></li>
               <li><label>Class Number:</label><span class="ml5">002305</span></li>
            </ul>
            <ul class="mb0 listing">
               <li><label>Term Offered:</label><span class="ml5">4188 (Fall 2018)</span></li>
            </ul>
         </div>
      </div>
   </div>
</div>
<style>
   footer {
      margin-top: 117px
   }
</style>
{% endblock %}