{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="criteria">
  <div class="container mb20 mt20">
    <div class="red">
      <h5 class="mb-0">Student Details</h5>
    </div>
    <div style="box-shadow:0px 0px 10px #ccc;padding:20px;">
      <div class="row">
        <div class="col-md-6">
          <div class="margin: 0 auto;">
            <ul class="mb0 listing">
              <li><label>Student Name:</label><span>{{student.student_name}}</li>
              <li><label>Username:</label><span>{{student.username}}</span></li>
            </ul>
<form method="POST" action="{% url 'search_module:update-uid' student.uuid %}">
  {% csrf_token %}
            <ul class="mb0 listing">
              <li class="d-flex justify-content-between align-items-center"><label>UID:</label><span style="width: 50%;"><input
                    type="text" name="uid" class="form-control" id="uid" aria-describedby="emailHelp" required {% if student.uid %} value="{{student.uid}}"
                    {% endif %}></li>
              <li><label>Date of Birth:</label><span>{{student.date_of_birth}}</span></li>
            </ul>
            <ul class="mb0 listing">
              <li><label>Citizenship:</label><span>{{student.citizenship}}</span></li>
              <li><label>Student Type:</label><span>{{student.student_type}}</span></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="margin: 0 auto;">
            <ul class="mb0 listing">
              <li><label>Legal Sex:</label><span>{{student.gender}}</li>
              <li><label>Gender Identity:</label><span>N/A</span></li>
            </ul>
            <ul class="mb0 listing">
              <li><label>Phone Number:</label><span>{{student.phone_number}}</a></li>
              <li><label>Contact Method:</label><span>{{student.contact_method}}</span></li>
            </ul>
            <ul class="mb0 listing">
              <li><label>Email:</label><span>{{student.email}}</span></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 mt20">
          <div style="box-shadow: 0px 0px 10px #ccc">
              {% if student.former_name %}
            <div class="red">
              <h5>Former Name(s)</h5>
            </div>
            <table class="table table-hovertable-section">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Former Name</th>
                </tr>
              </thead>
              <tbody>
                {% if student.former_name_1 %}
                <tr>
                  <td>{{student.former_name_1}}</td>
                </tr>
                {% endif %}
                {% if student.former_name_2 %}
                <tr>
                  <td>{{student.former_name_2}}</td>
                </tr>
                {% endif %}
                {% if student.former_name_3 %}
                <tr>
                  <td>{{student.former_name_3}}</td>
                </tr>
                {% endif %}
                {% if student.former_name_4 %}
                <tr>
                  <td>{{student.former_name_4}}</td>
                </tr>
                {% endif %}
                {% if student.former_name_5 %}
                <tr>
                  <td>{{student.former_name_5}}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
            {% endif %}
          </div>
          <p>Documents sent under another Name: <span>{% if student.former_name %}Yes{% else %}No{% endif %}</span></p>
        </div>
        <div class="col-md-6 mt20">
          <div class="margin: 0 auto;">
            <ul class="mb0 listing">
              {% for address in student.student_address.all %}
              <li><label style="margin-bottom:5px;">Current Mailing Address: </label><br>
                <span style="width:300%;">{{address.address}}, {{address.city}}, {{address.state}},
                  {{address.postal_code}},{{address.country}}</span>
              </li><br>
              <li><label style="margin-bottom:5px;">Permanent Mailing Address:</label> <br>
                <span style="width:300%;">{{address.permanent_address}}, {{address.permanent_city}},
                  {{address.permanent_state}}, {{address.permanent_postal_code}},{{address.permanent_country}}</span>
              </li><br>
              <li><label style="margin-bottom:5px;">Residency in Indiana:</label><br>
                <span style="width:300%;">{{address.residency_in_indiana}}</span>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center" style="margin: 0 auto">
          <button type="submit" style="margin-top: 10px;" class="btn btn-primary btn-red">Save</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div style="box-shadow: 0px 0px 10px #ccc">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active show" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                aria-controls="nav-home" aria-selected="true">Student Education 2018</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                aria-controls="nav-profile" aria-selected="false">Student Education 2017</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                aria-controls="nav-contact" aria-selected="false">Student Education 2016</a>
              <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
                aria-controls="nav-about" aria-selected="false">Student Education 2015</a>
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="row">
                <div class="col-md-6">
                  <div class="p20">
                    <ul class="mb0 listing">
                      <li><label>Qualtrics Application ID:</label><span>R_3qpvI9bldJxSte0</span></li>
                      <li><label>Qualtrics Completion Date:</label><span>09/10/2018</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Requested Start Date:</label><span>01/10/2019</span></li>
                      <li><label>DC Partner:</label><span>Arsenal Tech High School</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Required Teaching in Subject Area:</label><span>Yes</span></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div clas s="p20">
                    <ul class="mb0 listing">
                      <li><label>Highest Degree Earned:</label><span>Masters</span></li>
                      <li><label>State Licensure:</label><span>Yes</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Currently Enrolled at IU:</label><span>No</span></li>
                      <li><label>Previous Classwork through IU:</label><span>Yes</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Previous Name:</label><span>Stephanie Smith</span></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6 mt20">
                  <div class="p20">
                    <div style="box-shadow: 0px 0px 10px #ccc">
                      <div class="red">
                        <h5>Educator Role</h5>
                      </div>
                      <table class="table table-hovertable-section">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Role</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Instructor in Indiana University's Advance College</td>
                          </tr>
                          <tr>
                            <td>Instructor at a community college</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mt20">
                  <div class="p20">
                    <div style="box-shadow: 0px 0px 10px #ccc">
                      <div class="red">
                        <h5>Institution Affiliation(s)</h5>
                      </div>
                      <table class="table table-hovertable-section">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Institution</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Indiana Tech</td>
                          </tr>
                          <tr>
                            <td>Ivy Tech Community College</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <div class="row">
                <div class="col-md-6">
                  <div class="p20">
                    <ul class="mb0 listing">
                      <li><label>Qualtrics Application ID:</label><span>R_3qpvI9bldJxSte0</span></li>
                      <li><label>Qualtrics Completion Date:</label><span>09/10/2018</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Requested Start Date:</label><span>01/10/2019</span></li>
                      <li><label>DC Partner:</label><span>Arsenal Tech High School</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Required Teaching in Subject Area:</label><span>Yes</span></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p20">
                    <ul class="mb0 listing">
                      <li><label>Highest Degree Earned:</label><span>Masters</span></li>
                      <li><label>State Licensure:</label><span>Yes</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Currently Enrolled at IU:</label><span>No</span></li>
                      <li><label>Previous Classwork through IU:</label><span>Yes</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Previous Name:</label><span>Stephanie Smith</span></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6 mt20">
                  <div class="p20">
                    <div style="box-shadow: 0px 0px 10px #ccc">
                      <div class="red">
                        <h5>Educator Role</h5>
                      </div>
                      <table class="table table-hovertable-section">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Role</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Instructor in Indiana University's Advance College</td>
                          </tr>
                          <tr>
                            <td>Instructor at a community college</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mt20">
                  <div class="p20">
                    <div style="box-shadow: 0px 0px 10px #ccc">
                      <div class="red">
                        <h5>Institution Affiliation(s)</h5>
                      </div>
                      <table class="table table-hovertable-section">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Institution</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Indiana Tech</td>
                          </tr>
                          <tr>
                            <td>Ivy Tech Community College</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
              <div class="row">
                <div class="col-md-6">
                  <div class="p20">
                    <ul class="mb0 listing">
                      <li><label>Qualtrics Application ID:</label><span>R_3qpvI9bldJxSte0</span></li>
                      <li><label>Qualtrics Completion Date:</label><span>09/10/2018</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Requested Start Date:</label><span>01/10/2019</span></li>
                      <li><label>DC Partner:</label><span>Arsenal Tech High School</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Required Teaching in Subject Area:</label><span>Yes</span></li>
                    </ul>
                  </div>
                </div>md-6">
                <div class="p">
                  <div class="col-20">
                    <ul class="mb0 listing">
                      <li><label>Highest Degree Earned:</label><span>Masters</span></li>
                      <li><label>State Licensure:</label><span>Yes</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Currently Enrolled at IU:</label><span>No</span></li>
                      <li><label>Previous Classwork through IU:</label><span>Yes</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Previous Name:</label><span>Stephanie Smith</span></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6 mt20">
                  <div class="p20">
                    <div style="box-shadow: 0px 0px 10px #ccc">
                      <div class="red">
                        <h5>Educator Role</h5>
                      </div>
                      <table class="table table-hovertable-section">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Role</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Instructor in Indiana University's Advance College</td>
                          </tr>
                          <tr>
                            <td>Instructor at a community college</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mt20">
                  <div class="p20">
                    <div style="box-shadow: 0px 0px 10px #ccc">
                      <div class="red">
                        <h5>Institution Affiliation(s)</h5>
                      </div>
                      <table class="table table-hovertable-section">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Institution</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Indiana Tech</td>
                          </tr>
                          <tr>
                            <td>Ivy Tech Community College</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
              <div class="row">
                <div class="col-md-6">
                  <div class="p20">
                    <ul class="mb0 listing">
                      <li><label>Qualtrics Application ID:</label><span>R_3qpvI9bldJxSte0</span></li>
                      <li><label>Qualtrics Completion Date:</label><span>09/10/2018</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Requested Start Date:</label><span>01/10/2019</span></li>
                      <li><label>DC Partner:</label><span>Arsenal Tech High School</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Required Teaching in Subject Area:</label><span>Yes</span></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p20">
                    <ul class="mb0 listing">
                      <li><label>Highest Degree Earned:</label><span>Masters</span></li>
                      <li><label>State Licensure:</label><span>Yes</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Currently Enrolled at IU:</label><span>No</span></li>
                      <li><label>Previous Classwork through IU:</label><span>Yes</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Previous Name:</label><span>Stephanie Smith</span></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6 mt20">
                  <div class="p20">
                    <div style="box-shadow: 0px 0px 10px #ccc">
                      <div class="red">
                        <h5>Educator Role</h5>
                      </div>
                      <table class="table table-hovertable-section">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Role</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Instructor in Indiana University's Advance College</td>
                          </tr>
                          <tr>
                            <td>Instructor at a community college</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 mt20">
                  <div class="p20">
                    <div style="box-shadow: 0px 0px 10px #ccc">
                      <div class="red">
                        <h5>Institution Affiliation(s)</h5>
                      </div>
                      <table class="table table-hovertable-section">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Institution</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Indiana Tech</td>
                          </tr>
                          <tr>
                            <td>Ivy Tech Community College</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb20 mt20">
    <div class="row">
      <div class="col-md-12">
        <div style="box-shadow: 0px 0px 10px #ccc">
          <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
              <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home1" role="tab"
                aria-controls="nav-home" aria-selected="false">Other Information 2018</a>
              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile1" role="tab"
                aria-controls="nav-profile" aria-selected="false">Other Information 2017</a>
              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact1" role="tab"
                aria-controls="nav-contact" aria-selected="false">Other Information 2016</a>
              <a class="nav-item nav-link active show" id="nav-about-tab" data-toggle="tab" href="#nav-about1" role="tab"
                aria-controls="nav-about" aria-selected="true"> Other Information 2015</a>
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-home1" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="row">
                <div class="col-md-6">
                  <div class="p20">
                    <ul class="mb0 listing">
                      <li><label>Veteran/Active Military:</label><span>Yes</span></li>
                      <li><label>Family Military History:</label><span>Spouse</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>VA/DoD Educational Benefits:</label><span>Yes</span></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p20">
                    <ul class="mb0 listing">
                      <li><label>High School Disciplinary Action:</label><span>No</span></li>
                      <li><label>State Licensure:</label><span>Yes</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Currently Enrolled at IU:</label><span>No</span></li>
                      <li><label>Previous Classwork through IU:</label><span>Yes</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-profile1" role="tabpanel" aria-labelledby="nav-profile-tab">
              <div class="row">
                <div class="col-md-6">
                  <div class="p20">
                    <ul class="mb0 listing">
                      <li><label>Veteran/Active Military:</label><span>Yes</span></li>
                      <li><label>Family Military History:</label><span>Spouse</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>VA/DoD Educational Benefits:</label><span>Yes</span></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p20">
                    <ul class="mb0 listing">
                      <li><label>High School Disciplinary Action:</label><span>No</span></li>
                      <li><label>State Licensure:</label><span>Yes</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Currently Enrolled at IU:</label><span>No</span></li>
                      <li><label>Previous Classwork through IU:</label><span>Yes</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="nav-contact1" role="tabpanel" aria-labelledby="nav-contact-tab">
              <div class="row">
                <div class="col-md-6">
                  <div class="p20">
                    <ul class="mb0 listing">
                      <li><label>Veteran/Active Military:</label><span>Yes</span></li>
                      <li><label>Family Military History:</label><span>Spouse</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>VA/DoD Educational Benefits:</label><span>Yes</span></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p20">
                    <ul class="mb0 listing">
                      <li><label>High School Disciplinary Action:</label><span>No</span></li>
                      <li><label>State Licensure:</label><span>Yes</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Currently Enrolled at IU:</label><span>No</span></li>
                      <li><label>Previous Classwork through IU:</label><span>Yes</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade active show" id="nav-about1" role="tabpanel" aria-labelledby="nav-about-tab">
              <div class="row">
                <div class="col-md-6">
                  <div class="p20">
                    <ul class="mb0 listing">
                      <li><label>Veteran/Active Military:</label><span>Yes</span></li>
                      <li><label>Family Military History:</label><span>Spouse</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>VA/DoD Educational Benefits:</label><span>Yes</span></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="p20">
                    <ul class="mb0 listing">
                      <li><label>High School Disciplinary Action:</label><span>No</span></li>
                      <li><label>State Licensure:</label><span>Yes</span></li>
                    </ul>
                    <ul class="mb0 listing">
                      <li><label>Currently Enrolled at IU:</label><span>No</span></li>
                      <li><label>Previous Classwork through IU:</label><span>Yes</span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mb20 mt20">
    <div class="row">
      <div class="col-md-6 mt20">
        <div style="box-shadow: 0px 0px 10px #ccc">
          <div class="red">
            <h5>Enrollment History</h5>
          </div>
          <div class="table-responsive">
            <table class="table table-hovertable-section">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Course</th>
                  <th scope="col">Class</th>
                  <th scope="col">Term</th>
                  <th scope="col">Funding</th>
                  <th scope="col">Enrollment</th>
                  <th scope="col">Grade</th>
                  <th scope="col">Credit Hours</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Instructor in Indiana University's Advance College</td>
                  <td>Instructor in Indiana University's Advance College</td>
                  <td>Instructor in Indiana University's Advance College</td>
                  <td>Instructor in Indiana University's Advance College</td>
                  <td>Instructor in Indiana University's Advance College</td>
                  <td>Instructor in Indiana University's Advance College</td>
                  <td>Instructor in Indiana University's Advance College</td>
                </tr>
                <tr>
                  <td>Instructor at a community college</td>
                  <td>Instructor in Indiana University's Advance College</td>
                  <td>Instructor in Indiana University's Advance College</td>
                  <td>Instructor in Indiana University's Advance College</td>
                  <td>Instructor in Indiana University's Advance College</td>
                  <td>Instructor in Indiana University's Advance College</td>
                  <td>Instructor in Indiana University's Advance College</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div style="height:70px;">
            <span style="padding:20px;float:right;"> GPA: 3.5<br>
              Hours of Graduate Work Completed: 9</span></div>
        </div>
      </div>
      <div class="col-md-6 mt20">
        <div style="box-shadow: 0px 0px 10px #ccc">
          <div class="red">
            <h5>Course Request</h5>
          </div>
          <div class="table-responsive">
            <table class="table table-hovertable-section">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Requested</th>
                  <th scope="col">Choice Number</th>
                  <th scope="col">Course Number</th>
                  <th scope="col">Class Number</th>
                  <th scope="col">Decision Date</th>
                  <th scope="col">Decision</th>
                  <!-- <th scope="col">Credit Hours</th> -->
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>09/01/2018</td>
                  <td>2</td>
                  <td>BIO512</td>
                  <td>000013</td>
                  <td>09/01/2018</td>
                  <td>Instructor in Indiana University's Advance College</td>
                  <!-- <td>Instructor in Indiana University's Advance College</td> -->
                </tr>
                <tr>
                  <td>09/01/2018</td>
                  <td>4</td>
                  <td>BIO512</td>
                  <td>000013</td>
                  <td>09/01/2018</td>
                  <td>Instructor in Indiana University's Advance College</td>
                  <!-- <td>Instructor in Indiana University's Advance College</td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div style="box-shadow: 0px 0px 10px #ccc">
      <div class="red">
        <h5>Enrollments</h5>
      </div>
      <div class="d-flex justify-content-center flex-wrap">
        <form class="form-inline">
          <div class="form-group">
            <label for="email">Term</label>
            <select class="browser-default custom-select">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form-group ml-3">
            <label for="pwd">Course</label>
            <select class="browser-default custom-select">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="form-group ml-3">
            <label for="pwd">Funding</label>
            <select class="browser-default custom-select">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="d-flex ml-3">
            <button style="padding-top:5px; margin-top:15px; font-size: 14px;" type="submit" class="btn btn-primary btn-red">Add</button>
          </div>
        </form>
      </div>
      <div class="container">
        <div class="col-md-12 mt20 mb20 pb20">
          <div style="box-shadow: 0px 0px 10px #ccc;">
            <div class="red">
              <h5>Enrollments</h5>
            </div>
            <div class="table-responsive">
              <table class="table table-hovertable-section">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Term</th>
                    <th scope="col">Course</th>
                    <th scope="col">Funding</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Username</th>
                    <th scope="col"> </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>4188 (Fall 2018)</td>
                    <td>L501</td>
                    <td>IDOE</td>
                    <td>08/02/2018</td>
                    <td>sbarranc</td>
                    <td><a style="color:grey;" href="#delete_enrollment_modal" data-target="#delete_enrollment_modal"
                        data-toggle="modal" data-dismiss="modal"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>4188 (Fall 2018)</td>
                    <td>L501</td>
                    <td>IDOE</td>
                    <td>08/02/2018</td>
                    <td>sbarranc</td>
                    <td><a style="color:grey;" href="#delete_enrollment_modal" data-target="#delete_enrollment_modal"
                        data-toggle="modal" data-dismiss="modal"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div style="box-shadow: 0px 0px 10px #ccc">
      <div class="red">
        <h5>Comments</h5>
      </div>
      <div class="table-responsive">
        <table class="table table-hovertable-section">
          <thead class="thead-light">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Comment</th>
              <th scope="col">Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>09/28/2018</td>
              <td>Instructor in Indiana University's Advance College</td>
              <td>admin</td>
            </tr>
            <tr>
              <td>09/28/2018</td>
              <td>Instructor in Indiana University's Advance College</td>
              <td>admin</td>
            </tr>
          </tbody>
        </table>
        <div class="container">
          <form method="POST" action="">
            {% csrf_token %}
            <!-- <div class="col-md-12 mt20 mb20 pb20"> -->
            <div style="box-shadow: 0px 0px 10px #ccc;">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Add your comment here.." required>
              </div>
            </div>
            <!-- </div> -->
            <div class="d-flex justify-content-end pb20 pr5">
              <button style="padding-top:5px; font-size: 16px;margin-right:40px;" type="submit" class="btn btn-primary btn-red">Add
                New</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-------------------- Modal for deleting enrollment ---------------------->

<div class="modal fade" id="delete_enrollment_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog max-WT-450" role="document">
    <div class="modal-content">
      <div class="modal-body custome-modla-body min-ht-300 d-flex align-items-center justify-content-center">
        <div class="w-100">
          <img src="" class="logOut-img" alt="">
          <h6 class="mb40 gill">Are you sure you want to delete this enrollment ?</h6>
          <center>
            <button style="background:#921700; color:white;" type="button" class="btn btn-yellow max-WT-140"
              data-dismiss="modal">Yes</button>
            <button type="button" class="btn btn-grey max-WT-140" data-dismiss="modal">No</button>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>


<!---------------------------- Modal end ----------------------------------->

{% endblock %}